# Problem Set-2

# Question-1

In [6]:
a= 0
def b():
    global a
    a=c(a)

def c(a):
    return a+2

In [7]:
b()
b()
b()
a

6

# Explaination
The variable a is initially initialized to 0.
The function b() is called three times, and within each call:
The variable a is declared as a global variable.
The function c(a) is called with a as an argument.
In the function c(a), the current value of a is incremented by 2, updating the value of a.
After the third call to b(), the value of a is 6.
In summary, the value of a is initially 0 and is incremented by 2 on each call to b(), resulting in a final value of 6 when you evaluate a.

# Question-2

In [1]:
def filelength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    
    except FileNotFoundError :
        print(f"File {file_name} not found")
filelength('Raj_Tandel_BDAT-1004_PS_2.ipynb')
filelength('idterm.py')

22929
File idterm.py not found

# Question-3

In [33]:
class Marsupial():
    
    def __init__(self):
        self.pouch = []
        
    def put_in_pouch(self,item):
        self.pouch.append(item)
    
    def pouch_contents(self):
        return self.pouch
    
m=Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [46]:
class Kangaroo(Marsupial):
    
    def __init__(self,x,y):
        super().__init__()
        self.x = x
        self.y = y
    
    def jump(self,dx,dy):
            self.x += dx
            self.y += dy
        
    def __str__(self):
        return f" I am a Kangaroo located at coordinates ({self.x},{self.y})."    

k=Kangaroo(0,0)
print(k)

 I am a Kangaroo located at coordinates (0,0).

In [47]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [45]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

 I am a Kangaroo located at coordinates (3,0).

# Question-4

In [58]:
def collatz(x):
    
    if x==1:
        print(1)
        
    else:
        print(x)
        
        if x%2==0:
            collatz(x//2)
        
        else :
            collatz(3*x +1)

In [59]:
collatz(1)

1

In [60]:
collatz(10)

10
5
16
8
4
2
1

# Question-5

In [77]:
def binary(n):
    
    if n==0 :
        print(0,end='')
    
    elif n==1:
        print(1,end='')
    
    else :
        binary(n//2)
        print(n %2,end='')

In [78]:
binary(0)

0

In [79]:
binary(1)

1

In [80]:
binary(3)

11

In [82]:
binary(9)

1001

# Question-6

In [12]:
import sys
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False
        self.indentation = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith("h"):
            self.in_heading = True
            match = re.match(r'h(\d+)', tag)
            if match:
                heading_level = int(match.group(1))
                self.indentation = heading_level - 1

    def handle_endtag(self, tag):
        if tag.startswith("h"):
            self.in_heading = False

    def handle_data(self, data):
        if self.in_heading:
            print("  " * self.indentation + data)
            
if __name__ == "__main__":
    infile = open('w3c.html')
    content = infile.read()
    infile.close()
    hp = HeadingParser()
    hp.feed(content)

Change_me








W3C Mission
  Principles

# Question-7

In [14]:
from html.parser import HTMLParser
import requests

class LinkParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.links = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr, value in attrs:
                if attr == 'href':
                    self.links.append(value)

def webdir(url, depth, indent):
    if depth < 0:
        return

    try:
        response = requests.get(url)
        response.raise_for_status()
        content = response.text
        link_parser = LinkParser()
        link_parser.feed(content)
        
        print("  " * indent + url)

        if depth > 0:
            for link in link_parser.links:
                if link.startswith('http'):
                    webdir(link, depth - 1, indent + 1)

    except requests.exceptions.RequestException:
        pass

In [217]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

# Question-8

In [89]:
import sqlite3
con = sqlite3.connect('climate.db')
cur = con.cursor()
cur.execute("CREATE TABLE Weather (City text,Country text, Season text, Temperature float, Rainfall float)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai','India','Winter',24.8,5.9)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO Weather VALUES ('Mumbai','India','Fall',27.6,346.0)")
cur.execute("INSERT INTO Weather VALUES ('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO Weather VALUES ('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO Weather VALUES ('London','United Kingdom','Summer',15.7,157.0)")
cur.execute("INSERT INTO Weather VALUES  ('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO Weather VALUES  ('Cairo','Egypt','Winter',13.6,16.5)")
cur.execute("INSERT INTO Weather VALUES  ('Cairo','Egypt','Spring',20.7,6.5)")
cur.execute("INSERT INTO Weather VALUES  ('Cairo','Egypt','Summer',27.7,0.1)")
cur.execute("INSERT INTO Weather VALUES ('Cairo','Egypt','Fall',22.2,4.5)")
con.commit()
con.close()

In [3]:
con = sqlite3.connect('climate.db')
cur = con.cursor()
cur.execute("SELECT * FROM Weather")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

# A

In [4]:
con = sqlite3.connect('climate.db')
cur = con.cursor()
cur.execute("SELECT Temperature FROM Weather")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

# B

In [5]:
con = sqlite3.connect('climate.db')
cur = con.cursor()
cur.execute("SELECT DISTINCT City FROM Weather")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

# c

In [6]:
con = sqlite3.connect('climate.db')
cur = con.cursor()
cur.execute("SELECT * FROM Weather WHERE Country ='India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

# D

In [7]:
con = sqlite3.connect('climate.db')
cur = con.cursor()
cur.execute("SELECT * FROM Weather WHERE Season='Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

# E

In [110]:
con = sqlite3.connect('climate.db')
cur = con.cursor()
cur.execute("SELECT City,Country,Season FROM Weather GROUP BY City,Country,Season HAVING AVG(Rainfall) BETWEEN 200 and 400 ")
cur.fetchall()

[('London', 'United Kingdom', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('Mumbai', 'India', 'Fall')]

# F

In [116]:
con = sqlite3.connect('climate.db')
cur = con.cursor()
cur.execute("SELECT City,Country FROM Weather WHERE Season='Fall'GROUP BY City,Country HAVING AVG(Temperature) >20 ORDER BY AVG(Temperature) ASC")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

# G

In [118]:
con = sqlite3.connect('climate.db')
cur = con.cursor()
cur.execute("SELECT City, SUM(Rainfall) AS TotalRainfall FROM Weather WHERE City = 'Cairo' GROUP BY City")
cur.fetchall()

[('Cairo', 27.6)]

# H

In [119]:
con = sqlite3.connect('climate.db')
cur = con.cursor()
cur.execute("SELECT Season, SUM(Rainfall) AS TotalRainfall FROM Weather GROUP BY Season")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question-9

In [160]:
words= ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# A

In [161]:
uppercase_list= [word.upper() for word in words]
print(uppercase_list)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

# B

In [162]:
lower_case= [word.lower() for word in words]
print(lower_case)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# C

In [169]:
lenth_of_words=[len(word) for word in words]
print(lenth_of_words)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

# D

In [166]:
details_words= [[word.upper(), word.lower(), len(word)] for word in words]
print(details_words)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

# E

In [171]:
list_words=[word for word in words if len(word)>=4]
print(list_words)

['quick', 'brown', 'jumps', 'over', 'lazy']